*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
gradle/
app/build/
app/libs/
app/proguard-rules.pro
.idea/
build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle